$marginAuto: "auto auto";
$customMargin: 0 10px;
$widthAuto: "auto";
$customwidth1: 150px auto;
$customwidth2: 350px;
$customInheritwidth: inherit;
$justifywidth: center;
$color1 :white;
$backgroundColor1: lightgrey;
$backgroundColor2: grey;
$backgroundColor3: rgba(128, 128, 128, 0.4);
$displayBlock: "block";
$displayFlex: "flex";

html {
    margin: 0;
    padding: 0;
    background-color: $backgroundColor1;
}

body {
    margin: $marginAuto;
    width: fit-content;
}

#wrap-container {
    width: $customInheritwidth;
    margin: $customwidth1;
}

h1 {
    text-align: center;
}

form {
    border: 2px solid $color1;
    width: 350px;
}

.terms {
    display: $displayFlex;
    margin: $marginAuto;
    width: $customInheritwidth;
    justify-content: $justifywidth;
    text-align: start;
}

input[type="email"] {
    display: $displayBlock;
    background-color: $backgroundColor3;
    margin: $customMargin;
    color: $color1;
}

input[type="checkbox"] {
    display: $displayBlock;
    background-color: $backgroundColor3;
    margin: $customMargin;
    color: $color1;
}

input[type="submit"] {
    display: $displayBlock;
    background-color: $backgroundColor3;
    margin: $marginAuto;
    width: 200px;
    border-radius: 20px;
    color: $color1;
}